.header{
    position: fixed;
    left: 0;
    top: 0;
    height: 65px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: dodgerblue;
    z-index: 99;
}

.title{
    position: relative;
    height: 50%;
    width: 20%;
    display: inline-flex;
}

.startButton{
    position: relative;
    height: 40px;
    top: 12px;
    display: inline-flex;
    text-align: center;
}

.tempSliderOuter{
  width: 20%;
}

.tempSlider{
  position: relative;
  width: 80%;
  top: 20px;
}

.tempDisplay{
  font-weight: bold;
}

.textColumn{
  position: relative;
    top: 70px;
    width:40%;
    display: inline-flex;
}

.blankColumn{
    display: inline-flex;
    width:6.66%;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: dodgerblue;
  z-index: 98;
}

.footerText{
  position: relative;
  top: -35%;
  font-weight: bold;
}